.product-details {
    &__rating {
        display: flex;
        justify-content: space-between;
        align-content: center;
        p {
            padding-top: 4px;
        }
    }
    &__thumbnail {
        ion-img {
            opacity: .6;
        }
    }
} 
.active {
    ion-img {
        opacity: 1;
    }
}