.product-details {
    &__rating {
        display: flex;
        justify-content: space-between;
        align-content: center;
        p {
            padding-top: 4px;
        }
    }
    &__thumbnail {
        ion-img {
            opacity: .6;
        }
    }
    &__add-to-cart {
        ion-input {
            border: 1px solid;
            border-radius: 4px;
            margin-top: 2px;
        }   
    }       
}   
.active {
    ion-img {
        opacity: 1;
    }
}