<ion-header>
  <ion-toolbar>
    <ion-title>product-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img 
  [src]="sliderImage != null ? sliderImage : productDetail?.images[0]?.src" 
  alt="{{sliderImageName != null ? sliderImageName : productDetail?.images[0]?.name}}"></ion-img>   
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size="3" *ngFor="let image of productDetail?.images let i = index">
        <div 
        (click)="updateSliderImage($event, i)" 
        class="product-details__thumbnail"
        [ngClass]="{'active': selectedIndex == i}">
          <ion-img
          [src]="image.src"
          alt="thumbnail-image"
          ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <ion-card-header>
    <ion-card-title>{{productDetail?.name}}</ion-card-title>
    <div class="product-details__rating" padding-vertical>
      <div>
        <app-rating [rate]="rating"></app-rating>
      </div>
      <div>
        <p no-margin>{{productDetail?.rating_count}} customer reviews</p>
      </div>
    </div>
    <ion-card-subtitle>Price: &#163;{{productDetail?.price}}</ion-card-subtitle>
  </ion-card-header>
    <ion-card>
      <ion-card-content>
        <div>
          <div [innerHtml]="productDetail?.description"></div>
          <ion-item>
            <ion-input type="number" value="1"></ion-input>
            <ion-button color="primary">Add to cart</ion-button>
          </ion-item>
          <p padding-vertical>Category: {{productDetail?.categories[0].name}},{{productDetail?.categories[1].name}}</p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
