<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shop Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar animated placeholder="Search your item"></ion-searchbar>
  <div class="product-list">
    <ion-card no-margin *ngFor="let product of products">
      <ion-card-content no-padding>
        <ion-thumbnail size="100px">
          <img [src]="product?.images[0]?.src" alt="{{product?.name}}">
        </ion-thumbnail>
        <ion-card-subtitle padding-horizontal >{{product?.name}}</ion-card-subtitle>
        <div padding-horizontal>
          <div [innerHtml]="product.description"></div>
          <p [innerHtml]="product.price_html"></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>