<app-header></app-header>

<ion-content>
  <div class="product-list">
    <ion-card no-margin *ngFor="let product of products">
      <ion-card-content no-padding>
        <ion-thumbnail>
          <img [src]="product?.images[0]?.src" alt="{{product?.name}}">
        </ion-thumbnail>
        <ion-card-subtitle padding-horizontal >{{product?.name}}</ion-card-subtitle>
        <div padding-horizontal>
          <div [innerHtml]="product.description"></div>
          <p [innerHtml]="product.price_html"></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>