<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
       Search product
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-searchbar debounce="800" (ionChange)="updateSearchKey($event)"></ion-searchbar>
  <ion-button expand="full" (click)="search()">Search</ion-button>
  <h3>Categories</h3>

  <ion-list>
    <ion-item *ngFor="let cat of categories" [routerLink]="'/products'" [queryParams]="{'category': cat.id}" (click)="closeModal()">
      <ion-avatar slot="start" *ngIf="cat?.image">
        <img [src]="cat?.image?.src"/>
      </ion-avatar>
      <ion-label>
        <h2>{{cat.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
