<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Enter user name</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter display name</ion-label>
      <ion-input formControlName="display_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter email address</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Enter user password</ion-label>
      <ion-input formControlName="user_pass"></ion-input>
    </ion-item>

    <ion-button size="small" type="submit">Register</ion-button>
  </form>
</ion-content>
